{{ define "content" }}
<div class="slide slide-two-col">

    <h1>Adding Data into Templating</h1>

    <div class="columns">
        <div class="col text">
            <ul>
                <li>Pass your data through a struct to add it to your template</li>
                <li>You can loop through lists (ex .USMalFiles) and do cool stuff with it!</li>
                <li>You can update data on change within the loop of the list, but outside it you need to add javascript</li>
            </ul>
        </div>

        <div class="col media">
            <img src="/static/addingDataImg1.png" alt="code example">
            <img src="/static/addingDataImg2.png" alt="code example">
        </div>
    </div>

</div>
{{ end }}