{{ define "content" }}
<div class="slide slide-two-col">

    <h1>Template Example With No Data</h1>

    <div class="columns">
        <div class="col text">
            <ul>
                <li>You can create custom go template functions and connect them to your template object</li>
                <li>This allows you to run functions on your data after they have been passed through to the template</li>
                <li>I needed to build out dynamic field inputs for Mal Viewer, and the marshal function turned the Column[] go list into a json string</li>
                <li>Later in JS this allowed me to create the dynamic fields that needed multiple values from the Column struct</li>
            </ul>
        </div>

        <div class="col media">
            <img src="/static/passingFunctionsImg1.png" alt="code example">
            <img src="/static/passingFunctionsImg2.png" alt="code example">
        </div>
    </div>

</div>
{{ end }}