{{ define "content" }}
<div class="slide slide-two-col">

    <h1>Template Example With No Data</h1>

    <div class="columns">
        <div class="col text">
            <ul>
                <li>Pretty straightforward</li>
                <li>Define your template and it executes it</li>
                <li>This one doesn’t have any input data</li>
            </ul>
        </div>

        <div class="col media">
            <img src="/static/NoDataImg1.png" alt="code example">
            <img src="/static/NoDataImg2.png" alt="code example">
            <img src="/static/NoDataImg3.png" alt="code example">
        </div>
    </div>

</div>
{{ end }}